.popup__img-container {
  min-width: 100px;
  max-height: 80vh;
  /* background-size: cover;
  background-repeat: no-repeat; */
  background-color: white;
  border-radius: 8px;
  position: relative;
  padding: 15px;
}

.popup__img {
  max-width: 100%;
  max-height: 70vh;
}

@media (max-width: 600px) {
  .popup__img-container {
    width: 75%;
  }
}
